.Sidebar {
    height: 100%;
    position:absolute;
    width: 10%;
    background-color: black;
}

.SiteName {
    display:block;
    position: relative;
    color: white;
    text-align: center;
    font-size: 150%
}

.Logo {
    display: block;
    position: relative;
    width: 90%;
}

.Links {
    background-color: white;
    text-align: center;
    display: block;
    position: relative;
    color: red;
    border: 10px solid black;
}
.Legalese {
    background-color: navy;
    position: absolute;
    bottom: 0;
    width: 90%;
    color: red;
    left: 10%;
}

.HomeLink {
    height: 10%;
    cursor: pointer;
}

.AboutUsLink {
    cursor: pointer;
}

.SourcesLink{
    cursor: pointer;
}

.MainScreen {
    position: absolute;
    left: 10%;
}