.Sidebar {
    position:absolute;
    width: 200px;
    background-color: black;
    border: 20px solid black;
}

.SiteName {
    display:block;
    position: relative;
    color: white;
    left: 20px;
    font-size: 150%
}

.Logo {
    background-color: yellow;
    display: block;
    position: relative;
}

th {
    background-color: white;
    border: 3px solid white;
    text-align: center;
    color: red;
    left: 25%;
}

.Links {
    display: block;
    position: relative;
    left: 25%
}